<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello</title>
	<style type="text/css">
		* {
			text-align: center;
			font-family: operator mono;
			color: orangered;
		}
	</style>
</head>
<body>
	<h1> Hello From Django </h1>

	<h2>The top ancestress of 2022 is </h2>
	<table align="center" border="1px">
		<tr>
			<th>Name</th>
			<th>Age</th>
		</tr>

		<tr>
			<td>Keira Knightley</td>
			<td>37</td>
		</tr>
	</table>
</body>
</html>



