<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		List of Available Movies
	</title>
</head>
<body>
	<div class="container" align="center">
		<table border="2px">

			<tr>
				<th>Date</th>
				<th>Name</th>
				<th>Hero</th>
				<th>Heroine</th>
				<th>Rating</th>
			</tr>
			{% for movie in movies %}
				<tr>
					<td>{{ movie.date }}</td>
					<td>{{ movie.name }}</td>
					<td>{{ movie.hero }}</td>
					<td>{{ movie.heroine }}</td>
					<td>{{ movie.rating }}</td>
				</tr>
			{% endfor %}

		</table>

		<a href="{% url 'home' %}">Home Page </a>
	</div>

</body>
</html>